<div class="container-fluid">
    <header class="jumbotron jumbotron-fluid">
        <div class="row justify-content-around">
            <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
            <h1 class="text-light">Administración de usuarios</h1>
        </div>
    </header>
    <br>
    <section class="row justify-content-center">
        <div class="col-sm-4 col-md-3">
            <div class="d-flex flex-row justify-content-end">
                <button id="btnFilter" class="btn btn-secondary btnInf">Filtrar  <i class="bi bi-list"></i></button>
            </div>
            <br>
            <div id="find-section" class="find-section card">
                <div class="card-body d-flex flex-column">
                    <p class="text-center">Nombre de usuario</p>
                    <input id="find-username" class="" type="text">
                    <button id="btn-find" class="btnConfirm">Buscar</button>
                    <br>
                    <button id="btn-clear-filter" class="btnClear">Borrar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-6">
            <div class="listDiv list-group">
                <div *ngFor="let elem of users" class="list-group-item list-group-item-action" id="{{elem.username}}"
                    (click)=loadInfPage(elem.username)>{{elem.username}}<i class="bi bi-pencil-square"></i><i
                        class="bi bi-info-circle"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <button id="btnAddUser" class="btn btn-success btnInf">Crear usuario<i class="bi bi-plus"></i></button>
            <br>
            <br>
            <div id="create-section" class="card create-section">
                <div class="card-body d-flex flex-column">
                    <label>Nombre de usuario</label>
                    <input id="txt-add-username" type="text">
                    <br>
                    <label>Contraseña</label>
                    <input id="txt-add-password" type="password">
                    <br>
                    <button id="btn-create-user" class="btnConfirm">Crear</button>
                </div>
            </div>
        </div>
    </section>
    <div class="d-flex flex-row justify-content-center">
        <div id="spinner" class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    <footer>
        <div class="row justify-content-center">
            <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
        </div>
    </footer>
</div>