@media (max-width: 767px) {
    .suggestedAddressItem {
        font-size: 0.8em;
    }
    h6 {
        font-size: 1.1em;
    }
}

.address, .number, .suggestedAddressItem, .cp, .btnConfirm {
    width: 100%;
    border-radius: 5px;
}

.address, .number, .cp {
    border: 1px solid;
}