/* @media (max-width: 575px) {
    .suggestedAddressItem, .card-text {
        font-size: 0.6em;
    }
} */

@media (max-width: 767px) {
    .suggestedAddressItem, .card-text {
        font-size: 0.8em;
    }
}

footer {
    margin-top: 30%;
    /* background-color: rgb(0, 59, 135); */
    background-color: rgb(98, 135, 179);
    width: 100%;
}

header.jumbotron {
    background-color: rgb(98, 135, 179);
    max-height: 20%;
}

img {
    margin-left: 5%;
}

.suggestedAddressItem, .card-text {
    font-size: 1em;
}

.btnConfirm, .btnClear, .address, .number, .cp, .suggestedAddressContainer {
    width: 100%;
}

.address, .number, .cp {
    border-radius: 5px;
    border: 1px solid;
}

#spinnerContainer, .suggestedAddressContainer {
    float: left;
}

.suggestedAddressContainer {
    max-height: 200px;
    display: none;
}

.suggestedAddressContainer::-webkit-scrollbar-track {
    background-color: whitesmoke;
    border-radius: 5;
}

.suggestedAddressContainer::-webkit-scrollbar {
    width: 10px;
}

.suggestedAddressContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
}

.suggestedAddressItem :hover {
    background-color: rgb(128, 152, 182)
}

.clearBoth {
    clear: both;
}