<div class="container-fluid">
    <header class="jumbotron jumbotron-fluid">
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
    </header>
    <section>
        <div class="row justify-content-around">
            <div class="col-sm-4">
                <label>Código postal</label>
                <br>
                <input type="number" id="cp" />
                <label class="" id="cpAlert"></label>
            </div>
            <div class="col-sm-4">
                <label for="province">Provincia</label>
                <br>
                <select name="province" id="province" class="">
                    <option id="defaultProvince" selected value="">Seleccionar</option>
                    <option *ngFor='let elem of provinceArray;' class="text-capitalize" value="{{elem}}">{{elem}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-sm-4">
                <label for="township">Municipio</label>
                <br>
                <select name="township" id="township" class="" disabled>
                    <option selected disabled value="" id="defaultTownship">Seleccionar</option>
                    <option *ngFor='let elem of townshipArray;' value="{{elem}}">{{elem}}
                    </option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>Tipo de via</label>
                <br>
                <select name="typeRoad" id="typeRoad" class="" disabled>
                    <option selected value="" id="defaultTypeRoad">Seleccionar</option>
                    <option *ngFor='let elem of typeRoadArray;' value="{{elem}}">{{elem}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-sm-4">
                <label for="street">Calle</label>
                <br>
                <select name="street" id="street" class="text-capitalize" disabled>
                    <option selected value="" id="defaultStreet">Seleccionar</option>
                    <option *ngFor='let elem of streetArray;' class="text-capitalize" value="{{elem}}">{{elem}}
                    </option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>Número</label>
                <br>
                <input type="number" id="num" disabled />
                <label id="numAlert"></label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-2 offset-sm-1">
                <button id="btnConfirm" class="btnConfirm" disabled>Confirmar</button>
            </div>
            <div class="col-6 col-sm-4 col-md-2 offset-sm-2 offset-md-0">
                <button id="btnClear" class="btnClear">Borrar</button>
            </div>
        </div>
    </section>
    <footer>
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
    </footer>
</div>