<div class="container-fluid">
    <header class="jumbotron jumbotron-fluid">
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
    </header>
    <div style="min-height: 5em;">
        <div id="alert-container" class="alert alert-warning alert-dismissible fade" role="alert">
            <p id="alert-text"></p>
            <button id="alert-button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <section id="address-find-container">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-lg-2">
                <label>Código postal</label>
                <br>
                <div id="cp-spinner" class="spinner-border spinner-border-sm spinner-inf-left" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="d-flex flex-row">
                    <span id="cp-span" class="input-group-text elem-left">
                        <i id="cp-icon" class="bi bi-pencil-square"></i>
                    </span>
                    <input type="number" id="cp" class="elem-right" />
                </div>
                <!-- <label class="" id="cpAlert"></label> -->
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <label for="province">Provincia</label>
                <br>
                <div id="province-spinner" class="spinner-border spinner-border-sm spinner-inf-left" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="d-flex flex-row">
                    <span id="province-span" class="input-group-text elem-left">
                        <i id="province-icon" class="bi bi-pencil-square"></i>
                    </span>
                    <select name="province" id="province" class="elem-right" disabled>
                        <option id="defaultProvince" selected value="">Seleccionar</option>
                        <option *ngFor='let elem of provinceArray;' class="text-capitalize" value="{{elem}}">{{elem}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-lg-2">
                <label for="township">Municipio</label>
                <br>
                <div id="township-spinner" class="spinner-border spinner-border-sm spinner-inf-left" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="d-flex flex-row">
                    <span id="township-span" class="input-group-text elem-left">
                        <i id="township-icon" class="bi bi-pencil-square"></i>
                    </span>
                    <select name="township" id="township" class="elem-right" disabled>
                        <option selected disabled value="" id="defaultTownship">Seleccionar</option>
                        <option *ngFor='let elem of townshipArray;' value="{{elem}}">{{elem}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <label>Tipo de via</label>
                <br>
                <div id="typeRoad-spinner" class="spinner-border spinner-border-sm spinner-inf-left" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="d-flex flex-row">
                    <span id="typeRoad-span" class="input-group-text elem-left">
                        <i id="typeRoad-icon" class="bi bi-pencil-square"></i>
                    </span>
                    <select name="typeRoad" id="typeRoad" class="elem-right" disabled>
                        <option selected value="" id="defaultTypeRoad">Seleccionar</option>
                        <option *ngFor='let elem of typeRoadArray;' value="{{elem}}">{{elem}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-lg-2">
                <label for="street">Calle</label>
                <br>
                <div id="street-spinner" class="spinner-border spinner-border-sm spinner-inf-left" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="d-flex flex-row">
                    <span id="street-span" class="input-group-text elem-left">
                        <i id="street-icon" class="bi bi-pencil-square"></i>
                    </span>
                    <select name="street" id="street" class="elem-right" disabled>
                        <option selected value="" id="defaultStreet">Seleccionar</option>
                        <option *ngFor='let elem of streetArray;' class="text-capitalize" value="{{elem}}">{{elem}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <label>Número</label>
                <br>
                <div id="number-spinner" class="spinner-border spinner-border-sm spinner-inf-left" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="d-flex flex-row">
                    <span id="number-span" class="input-group-text elem-left">
                        <i id="number-icon" class="bi bi-pencil-square"></i>
                    </span>
                    <br>
                    <input type="number" id="number" class="elem-right" disabled />
                    <label id="numAlert"></label>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-lg-2">
                <button id="btnConfirm" class="btnConfirm" disabled>Confirmar</button>
                <br><br>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <button id="btnClear" class="btnClear">Borrar</button>
            </div>
        </div>
    </section>
    <section id="products-section" class="products-section">
        <div id="address-inf" class="d-flex flex-column col-4 address-inf">
            <h5>Dirección buscada</h5>
            <label>Código postal {{cp}}</label>
            <label>Provincia {{province}}</label>
            <label>Municipio {{township}}</label>
            <label>Dirección {{typeRoad}} {{street}}</label>
            <label>Número {{number}}</label>
        </div>
        <div>
            <div class="Card">
                <p></p>
            </div>
        </div>
    </section>
    <footer>
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
    </footer>
</div>