<header class="jumbotron jumbotron-fluid">
    <div class="row justify-content-around">
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
        <h1 class="text-light">Administración de usuarios</h1>
    </div>
</header>
<div class="container-fluid d-flex flex-column">
    <h1 class="text-center">Información del usuario {{username}}</h1>
    <br>
    <section class="d-flex flex-column">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-xl-2">
                <label>Nombre de usuario</label>
                <br>
                <input id="username" type="text" value="" placeholder="Nombre de usuario">
            </div>
            <div class="col-sm-4 col-md-3 col-xl-2">
                <label>Contraseña</label>
                <br>
                <input type="password" id="password" placeholder="Contraseña" value="******" />
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-xl-2">
                <button id="btn-save" class="btn-save">Guardar</button>
            </div>
            <br><br>
            <div class="col-sm-4 col-md-3 col-xl-2">
                <button id="btn-delete" class="btn-delete">Eliminar</button>
            </div>
            <br><br>
        </div>
    </section>
    <div class="row justify-content-center">
        <div id="myToast" class="myToast">
            <div class="toast-body d-flex flex-column">
                <div class="d-flex flex-row justify-content-between">
                    <p id="toastText">¿Guardar Cambios?</p>
                    <i id="btn-close-myToast" class="close bi bi-x"></i>
                </div>
                <div class="border-top d-flex flex-row justify-content-center">
                    <button id="btn-toast-ok" class="btn btn-primary">Guardar</button>
                    <button id="btn-toast-cancel" class="btn btn-secondary">Descartar</button>
                    <button id="btn-toast-3" class="btn btn-secondary" style="display: none;">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <button id='btn-back' class="btn btn-secondary btn-back offset-sm-10 offset-lg-11">Volver</button>
</div>
<footer>
    <div class="row justify-content-center">
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
    </div>
</footer>