<div class="container-fluid">
    <header class="jumbotron jumbotron-fluid">
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
    </header>
    <h1 class="text-center">Información del usuario</h1>
    <br>
    <section class="d-flex flex-column">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-xl-2">
                <label>Nombre de usuario</label>
                <br>
                <input id="username" type="text" value="{{username}}">
            </div>
            <div class="col-sm-4 col-md-3 col-xl-2">
                <label>Contraseña</label>
                <br>
                <input type="password" id="password" placeholder="******" />
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-xl-2">
                <button id="btn-back" class="btn-save">Volver</button>
            </div>
            <br><br>
            <div class="col-sm-4 col-md-3 col-xl-2">
                <button id="btn-delete" class="btn-delete">Eliminar</button>
            </div>
            <br><br>
        </div>
        <div class="row justify-content-center">
            <br><br>
            <div class="col-sm-4 col-md-3 col-xl-2 ">
                <button id="btn-save" class="btn-save">Guardar</button>
            </div>
            <br><br>
            <div class="col-sm-4 col-md-3 col-xl-2">
                <button id="btn-discard" class="btn-save">Descartar</button>
            </div>
        </div>
    </section>
    <footer>
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
    </footer>
</div>