footer, header.jumbotron {
    background-color: rgb(98, 135, 179);
    width: 100%;
}

/* footer {
    position: fixed;
    bottom: 0%;
    height: auto;
    max-height: 10%;
} */

footer {
    position: fixed;
    bottom: 0;
}

@media(max-height:40em) {
    footer {
        position: relative;
        top: 7em;
    }
}

header.jumbotron {
    max-height: 15em;
}

section, .row {
    width: 100%;
}

.row {
    margin: 0px
}

img {
    height: 10%;
}

header img {
    margin-right: 5em;
}

input, button {
    /* width: 100%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    height: 2em;
}

input {
    border: 2px solid rgb(0, 59, 135);
}

input, label, button {
    width: 100%;
}

button.btnConfirm {
    border: 3px solid;
    color: white;
    border-color: rgb(0, 59, 135);
    background-color: rgb(0, 59, 135);
}

input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: rgba(213, 245, 255, 0.521);
}

button.btnConfirm:hover {
    border-color: rgba(85, 207, 255, 0.589);
}

button.btnConfirm:active {
    background-color: rgb(0, 59, 135, 0.75);
    border-color: rgb(0, 59, 135);
}

.spinner {
    display: none;
    position: absolute;
    top: 12.25em;
    right: 0.75em;
    width: 2em;
    height: 2em;
}

#errorMensaje {
    display: none;
    position: relative;
    bottom: 4.5em;
    width: auto;
    color: red
}

.conn-alert-container {
    max-height: 3em;
    margin-top: -1em;
}

.conn-alert-container>div {
    height: 3em;
    padding-top: 1.5em;
    padding-bottom: -1.5em;
}

.conn-alert-container p {
    position: relative;
    bottom: 0.75em;
}

.conn-alert-button {
    position: absolute;
    top: 0;
    right: -0.5em;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.conn-alert-button span {
    padding: 1em;
    font-size: 1.25em;
    color: grey;
}

.conn-alert-button span:hover {
    color: black;
}