<header class="jumbotron jumbotron-fluid">
    <div class="row justify-content-around">
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
        <h1 class="text-light">Inicio de sesión</h1>
    </div>
</header>
<div class="container-fluid d-flex flex-column">
    <div class="row justify-content-center conn-alert-container">
        <div id="conn-alert-container"
            class="col-sm-10 col-md-6 col-lg-4 alert alert-danger fade"
            role="alert">
            <p id="conn-alert-text" class="text-center"></p>
            <button id="conn-alert-button" class="conn-alert-button">
                <span>&times;</span>
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-flex flex-column col-sm-4 col-md-3 col-lg-2">
            <label>Nombre de usuario</label>
            <input (input)="getUsername($event)" id="username" type="text">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-flex flex-column col-sm-4 col-md-3 col-lg-2">
            <label>Contraseña</label>
            <input (input)='getPassword($event)' id="password" type="password">
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="d-flex flex-column col-sm-4 col-md-3 col-lg-2">
            <button (click)="login()" id="btn-login" class="btnConfirm">Confirmar</button>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <div id="spinner" class="spinner-grow text-primary spinner" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
</div>
<footer>
    <div class="row justify-content-center">
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
    </div>
</footer>