<div class="container-fluid">
    <div class="row justify-content-center">
        <label class="col-md-4">Nombre de usuario</label>
    </div>
    <div class="row justify-content-center">
        <input (input)="getUsername($event)" id="username" class="col-md-4 " type="text">
    </div>

    <div class="row justify-content-center">
        <label class="col-md-4">Contraseña</label>
    </div>
    <div class="row justify-content-center">
        <input (input)='getPassword($event)' id="password" class="col-md-4" type="password">
    </div>
    <div class="row justify-content-center">
        <label id="errorMensaje" class="col-md-4">Usuario o Contraseña incorrectos</label>
    </div>
    <br>
    <div class="row justify-content-center">
        <a (click)="login()" id="btn-login" class="col-lg-1 col-md-2 btn btn-primary btn-login">Confirmar</a>
    </div>
</div>
<footer>

</footer>