footer, header.jumbotron {
    background-color: rgb(98, 135, 179);
    width: 100%;
}

/* footer {
    position: fixed;
    bottom: 0%;
    height: auto;
    max-height: 10%;
} */

footer {
    position: fixed;
    bottom: 0;
}

@media(max-height:40em) {
    footer {
        position: relative;
        top: 7em;
    }
}

header.jumbotron {
    max-height: 15em;
}

section, .row {
    width: 100%;
}

.row div, label {
    margin-left: 2%;
}

img{
    height: 10%;
}

header img {
    margin-right: 5em;
}

input, button {
    /* width: 100%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    height: 2em;
}

input {
    border: 2px solid rgb(0, 59, 135);
}

input, label, button{
    width: 100%;
}

button {
    border: 3px solid;
    color: white;
}

button.btnConfirm {
    border-color: rgb(0, 59, 135);
    background-color: rgb(0, 59, 135);
}

input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: rgba(213, 245, 255, 0.521);
}

button.btnConfirm:hover {
    border-color: rgba(85, 207, 255, 0.589);
}

button.btnConfirm:active {
    background-color: rgb(0, 59, 135, 0.75);
    border-color: rgb(0, 59, 135);
}

.spinner{
    display: none;
    position: absolute;
    top: 16.25em;
}

#errorMensaje {
    display: none;
    position: relative;
    bottom: 4.5em;
    width: auto;
    color: red
}