<div class="container-fluid">
    <header class="jumbotron jumbotron-fluid">
        <div class="row justify-content-around">
            <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
            <h1 class="text-light">Inicio de sesión</h1>
        </div>
    </header>
    <div class="row justify-content-center">
        <div class="d-flex flex-column col-sm-4 col-md-3 col-lg-2">
            <label>Nombre de usuario</label>
            <input (input)="getUsername($event)" id="username" type="text">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-flex flex-column col-sm-4 col-md-3 col-lg-2">
            <label>Contraseña</label>
            <input (input)='getPassword($event)' id="password" type="password">
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="d-flex flex-column col-sm-4 col-md-3 col-lg-2">
            <br>
            <button (click)="login()" id="btn-login" class="btnConfirm">Confirmar</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <label id="errorMensaje">Usuario o Contraseña incorrectos</label>
    </div>
</div>
<footer>
    <div class="row justify-content-center">
        <img src="../../assets/logoNetllarBlanco.png" alt="Logo de Netllar">
    </div>
</footer>