input {
    width: 100%;
    color: rgb(0, 59, 135);
    background-color: white;
    border: 2px solid rgb(0, 59, 135);
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: whitesmoke;
}